.header{
    background-color: #0D0101;
    height: 80px;
    position: fixed;
    width:100%;
    top:0;
    left:0;
}
.nav{
    display:flex;
    justify-content:space-between;

    /*max-width: 992px;
    margin: 0 auto;*/
}
.navLink{
    color:white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding:0 40px;
    line-height:80px;

}
.navMenu{
    display: flex;
    margin-right:40px;
    list-style-type: none;
}
.navMenuItem{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width:max-content;
}
.navMenuLink{
    padding:8px 12px;
    border-radius: 3px;

}
.navMenuLink:hover{
    background-color:white;
    color: black;
    transition: 0.5s;
}

.logo img{

    height: 75px;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 75px;
    margin:0;
}
.navToggle{
    color:white;
    background:none;
    border:none;
    font-size: 30px;
    padding:0 20px;
    line-height: 60px;

    display: none;
}