.cards{
    padding: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3%;
    height: fit-content;
    background-color: white;
    color: dimgray;
    box-shadow: 0  .2em .5em lightgray ;
}

.cardstittle{
    color: rgb(70,70,70);

}

.rowtt{
    display:block;
}

.dashbg{
    background-color: rgb(34,35,43);
    min-height: 100vh;
    border-top: 3px solid dimgray;
    
}

icon{
    color: black;
}